/* General settings for entire page */

* {
    box-sizing: border-box;
}

/* Stylized values for the header and h1 sections */

header {
    background-color: #283044;
    margin-bottom: 40px;
    display: flex;
}

header h1 {
    font-family: 'Lucida Console', serif;
    font-size: 56px;
    font-weight: 600;
    letter-spacing: 0px;
    margin-top: 50px;
    margin-bottom: 5px;
    color: #fdfdff;
    text-align: center;
    padding: 20px 0;
}

/* Customization for the nav and anchor links, as well as adaptations for larger screens */

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header nav ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    padding-top: 75px;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    font-family: Futura, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #fdfdff;
    text-decoration: none;
    padding: 0 20px 0 0;
}

header nav ul li a:hover {
    color: #ebf5ee;
}

@media all and (min-width: 700px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    h1 {
        margin: 14px 0 14px 20px;
        padding-top: 0;
        font-size: 42px;
    }

    header nav {
        margin-top: 14px;
    }
}

/* Img values for both profile photo and twitch logo */

img {
    width: 100%;
    border: 5px groove #78a1bb;
    border-radius: 50%;
}

img.rounded {
    border-radius: 8px;
}

/* Customization for the body content */

body {
    margin: 0;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

/* Stylization choices for the headers in the body */ 

main .intro {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: #8b786d;
    font-weight: 700;
    letter-spacing: 2px;
}

main h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    color: #8b786d;
    font-weight: 850;
    letter-spacing: 2px;
}

main h3 {
    font-family: Futura, sans-serif;
    font-size: 24px;
    color: #000;
    font-weight: 400;
    letter-spacing: 1px;
}

/* Customization for the main p and contact p */

main p {
    font-family: 'RocknRoll One', sans-serif;
    line-height: 1.5em;
    margin-bottom: 0em;
    padding: 1rem;
}

#contact p {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
}

/* Footer stylization */

footer {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    font-size: 12px;
}


/* Wrapper customization */

.wrapper {
    width: 100%;
}

main .wrapper {
    padding-left: 10px;
    margin-bottom: 0;
}

/* Customization for group, item, and item-double */

.group {
    display: flex;
    flex-direction: column;
}

.item {
    flex: 1;
    margin: 10px;
}

.item-double {
    flex: 2;
    margin: 10px;
}

/* Customization for specific sections or groups of sections */

#home, #portfolio, #contact {
    margin-bottom: 120px;
}

#about, #contact {
    background-color: #ebf5ee;
    padding: 20px 0 30px 0;
    margin: 120px 0;
}

/* Media Query for desktop */

@media all and (min-width: 800px) {
    .wrapper {
        width: 80%;
        margin: auto;
    }

    .group {
        flex-direction: row;
    }
}

/* Contact Form Design */

form {
    padding-right: 6px;
}

form label {
    display: block;
}

form input,
form textarea {
    width: 100%;
    margin-bottom: 20px;
}

form textarea {
    height: 160px;
}
